# Ignore everything at the top level...
/*

# ...except these standard project files...
!.gitignore
!changelog.md
!LICENSE
!README.md

# ...or these Gradle files...
!/gradle/
!gradlew
!gradlew.bat
!build.gradle

# ...or these Kotlin files...
!/src/